@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root {

    --color-header: rgba(0, 0, 0, .8);
    --azul-mas-oscuro: #334257;
    --azul-oscuro: #476072;
    --gris: #606470;
    --azul-claro: #548CA8;
    --blanco: #eee;
    --gris-claro: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    background-color: var(--azul-mas-oscuro);
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header__text {
    text-align: center;
    font-size: medium;
    color: var(--blanco);
    font-weight: 400;
    display: none;
}

.header__ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header__ul a {
    text-decoration: none;
    color: var(--blanco);
    margin: 0px 20px;
    font-size: medium;
    transition: .5s;
    font-weight: 400;
    text-transform: uppercase;
}

.header__ul a:hover {
    color: var(--azul-claro);
}

.menu {
    color: var(--blanco);
    display: none;
}

/* INICIO */

.inicio__container {
    max-width: 1100px;
    color: var(--blanco);
    display: flex;
    margin: auto;
    padding: 100px 20px;
}

.inicio__img {
    max-width: 400px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    margin: 0 50px;
}

.inicio__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.inicio__informacion h2 {
    font-size: larger;
    font-weight: 700;
    color: var(--azul-mas-oscuro);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.inicio__informacion h3 {
    font-size: large;
    font-weight: 500;
    color: var(--azul-oscuro);
    letter-spacing: 2px;
    margin: 20px 0px;
}

.inicio__informacion p {
    font-size: medium;
    font-weight: 400;
    color: var(--gris);
    margin: 20px 0px;
}

.inicio__boton {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid var(--azul-mas-oscuro);
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

.inicio__boton:hover {
    background-color: var(--azul-claro);
    color: var(--blanco);
}

/* SOBRE MI */

.sobremi {
    background-color: var(--gris-claro);
}

.sobremi__titulo {
    text-align: center;
    color: var(--azul-mas-oscuro);
    padding: 50px;
    text-transform: uppercase;
}

.sobremi__container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.sobremi__informacion__titulo1,
.sobremi__informacion__titulo2 {
    text-align: center;
    font-size: large;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--azul-oscuro);
    letter-spacing: 2px;
}

.sobremi__informacion__datos {
    text-align: justify;
    color: var(--gris);
    margin: 20px;
}

.sobremi__informacion__datos span {
    margin-left: 10px;
    text-align: left;
    font-size: small;
    font-weight: 500;
}

/* CONOCIMIENTOS */

.conocimientos__container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.seccion__titulo {
    text-align: center;
    color: var(--azul-mas-oscuro);
    padding: 50px;
    text-transform: uppercase;
}

.conocimientos__grupo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.conocimientos__individual {
    display: grid;
    place-content: center;
    border-radius: 5px;
    transition: .5s;
    padding: 10px;
}

.conocimientos__individual:hover {
    box-shadow: 0 0 10px var(--azul-mas-oscuro), 0 0 10px var(--azul-mas-oscuro);
}

.conocimientos__icono {
    color: var(--azul-mas-oscuro);
    font-size: 50px;
}

/* EDUCACION */

.educacion {
    background-color: var(--gris-claro);
}

.educacion__container {
    max-width: 1100px;
    margin: auto;
    padding: 50px;
}

.educacion__grupo {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.educacion__año,
.educacion__tipo {
    font-size: large;
    margin-bottom: 10px;
}

.educacion__lugar {
    display: block;
    font-size: smaller;
    margin-bottom: 50px;
}

.educacion__año,
.educacion__lugar {
    text-align: right;
    margin-right: 40px;
}

.educacion__tipo {
    text-align: left;
    margin-left: 40px;
}

.educacion__circulo {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--azul-mas-oscuro);
    border-radius: 50%;
}

.educacion__circulo::before {
    content: '';
    position: absolute;
    transform: translate(-5px, -5px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--azul-mas-oscuro);
    border-radius: 50%;
}

.educacion__linea {
    display: block;
    height: 100%;
    width: 2px;
    background-color: var(--azul-mas-oscuro);
    transform: translate(5px, -4px);
}

/* PROYECTOS */


.proyectos__container {
    max-width: 1100px;
    margin: auto;
    padding: 50px;
    justify-items: relative;
    display: flex;
    justify-content: center;
}

.proyectos__individual {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    height: 250px;
    width: 250px;
    margin: 0 50px;
}

.proyectos__individual img {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--azul-mas-oscuro);
}


.proyectos__datos {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-header);
    border-radius: .5rem;
    transition: .3s;
    font-size: large;
    color: var(--blanco);
    font-size: medium;
    text-align: center;
    padding: 10px;
}

.proyectos__individual:hover .proyectos__datos {
    bottom: 0;
}

/* FOOTER */

footer {
    background-color: var(--azul-mas-oscuro);
    color: var(--blanco);
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 20px;
    font-size: 26px;
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: var(--azul-mas-oscuro);
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    .menu {
        display: block;
        height: 30px;
        margin: 5px;
        display: flex;
        align-items: center;
    }

    .bx-menu {
        font-size: 30px;
    }

    .header__container {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px;
    }

    .inicio__container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .inicio__img {
        max-width: 200px;
        max-height: 200px;
        min-width: 150px;
        min-height: 150px;
        margin: -50px 0 0 0;
    }

    .inicio__informacion h2 {
        margin: 20px 0;
        text-align: center;
    }

    .inicio__informacion h3 {
        margin: 20px 0;
        text-align: center;
    }

    .inicio__informacion p {
        margin: 20px 0;
        text-align: center;
    }

    .inicio__boton {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobremi {
        display: grid;
        justify-content: center;
    }

    .sobremi__container {
        display: inline-flex;
        flex-direction: column;
    }

    .sobremi__informacion__titulo1 {
        margin-top: -40px;
    }

    .sobremi__informacion__titulo2 {
        margin-top: 40px;
    }

    .conocimientos {
        display: grid;
        justify-content: center;
    }

    .conocimientos__grupo {        
        display: flex;
        flex-flow: row wrap;
    }

}